<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>3d6c1ed12ec146528959598c11f04bf7</string>
	<key>UPDATE_INTERVAL</key>
	<string>1440</string>
</dict>
</plist>
