<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOKEN</key>
	<string>fee8df4cc5a052921d1ba012ea11e97d84a063c7</string>
	<key>taskOpen</key>
	<string>app</string>
</dict>
</plist>
